<h2>Add new room</h2>

<form action="/rooms/new" method="POST">
  <input class="form-control" name='name' type='text' placeholder="Room name"> <br>
  <textarea class="form-control" name="description" cols="30" rows="10" placeholder="Room description"></textarea> <br>
  <button class="btn btn-primary">Create New Room</button>
</form>